<!-- left sidebar -->
<div class="col-md-2 left-sidebar">

	<!-- main-nav -->
	<nav class="main-nav">

		<ul class="main-menu">
			@*<li>
					<a href="@Url.Action("Dashboard", "Home")">
						<i class="fa fa-dashboard fa-fw"></i>
						<span class="text">仪表板</span>
					</a>
				</li>*@
			@if (ResSettings.SettingsInSession.User.UserTypePKID == ResUserHelper.Admin)
			{
				<li>
					<a href="@Url.Action("Index", "CroBulletin")">
						<i class="fa fa-newspaper-o fa-fw"></i>
						<span class="text">平台公告</span>
					</a>
				</li>

				<li>
					<a href="@Url.Action("Search", "Active")">
						<i class="fa fa-fax fa-fw"></i>
						<span class="text">活动管理</span>
					</a>
				</li>

				<li>
					<a href="@Url.Action("Search", "User")">
						<i class="fa fa-user fa-fw"></i>
						<span class="text">用户管理</span>
					</a>
				</li>
			
				<li>
					<a href="@Url.Action("Search", "Crosource")">
						<i class="fa fa-image fa-fw"></i>
						<span class="text">论文管理</span>
					</a>
				</li>
		
		
				<li>
					<a href="javascript:void(0)" class="js-sub-menu-toggle">
						<i class="fa fa-twitter fa-fw"></i>
						<span class="text">评审管理</span>
					</a>
					<ul class="sub-menu">
						@*<li>
							<a href="@Url.Action("Search", "EvalPeriod")">评审周期管理</a>
						</li>*@
						<li><a href="@Url.Action("Search", "EvalManage")">评审组管理</a></li>
						<li><a href="@Url.Action("IndicationList", "EvalManage")">指标管理</a></li>
						@if (ResSettings.SettingsInSession.User.UserTypePKID == ResUserHelper.Export)
						{
							<li><a href="@Url.Action("EvalResultList", "EvalManage")">评审结果查询</a></li>
						}
					</ul>
				</li>
			}

			@if (ResSettings.SettingsInSession.User.UserTypePKID == ResUserHelper.Export)
			{
				<li>
					<a href="@Url.Action("Search", "Eval")">
						<i class="fa fa-image fa-fw"></i>
						<span class="text">专家评分</span>
					</a>
				</li>
			}
		</ul>
	</nav>
	<!-- /main-nav -->

	<div class="sidebar-minified js-toggle-minified">
		<i class="fa fa-angle-left"></i>
	</div>

</div>
<!-- end left sidebar -->
