@model ResUser
@{
	Layout = "~/Views/Shared/_CroLayout.cshtml";
	ViewBag.Title = "我的信息";
}


	<div class="menu">
		<div class="fl">首页 > <span>个人信息</span></div>
		<div class="fr"><a href="@Url.Action("Edit", new { id = Model.Id })">
			@if (ResSettings.SettingsInSession.UserId==Model.UserId) {
			<span>修改个人信息</span>
			}
			&nbsp;&nbsp;&nbsp;
			</a>
			<a href="@Url.Action("ChgPwd","CroMy", new { id = Model.Id })">
					<span>修改密码</span>
			</a>
		</div>
	</div>


	<div class="user">
		<div class="u_t">
			
			<div class="u_text">
				<p class="u_name">@Model.RealName</p>
				<p>
					<span><strong>用&nbsp;&nbsp;户&nbsp;&nbsp;名：</strong>@Model.UserName</span>
				</p>
				<p>
					<span><strong>电子邮件：</strong>@Model.Email</span>
				</p>
				<p>
					<span><strong>单&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;位：</strong>@Model.Company</span>
				</p>
				<p>
					<span><strong>职称/职务：</strong>@Model.Position</span>
				</p>
				<p>
					<span><strong>实&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名：</strong>@Model.RealName</span>
				</p>
				<p>
					<span><strong>注册时间：</strong>@Model.RegisterTime.ToShortDateString()</span>
				</p>
				<p>
					<span><strong>最近登录：</strong>@Model.LastLoginTime </span>
				</p>
				<p>
					<span><strong>省&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;份：</strong>@Model.Province</span>
				</p>
				<p>
					<span><strong>市&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;区：</strong>@Model.Area </span>
				</p>
				<p><span><strong>手&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;机：</strong>@Model.Phone</span></p>
			</div>
		</div>
		<div class="cb"></div>
		
	</div>
