@model CroResource
@{
	ViewBag.Title = "论文初审";

	var resultId = Request["id"] == null ? 0 : Convert.ToInt32(Request["id"]);
	var groupId = Request["groupId"] == null ? 0 : Convert.ToInt32(Request["groupId"]);
}
<style>
	#pdf {
		height: 750px;
	}
</style>
<div class="col-md-10 content-wrapper">
	<div class="row">
		<div class="col-lg-4 ">
			<ul class="breadcrumb">
				<li>
					<i class="fa fa-home"></i>
					<a href="@Url.Action("Index", "Home")">首页</a>
				</li>
				<li><a href="@Url.Action("Search", "Crosource")">作品</a></li>
				<li class="active">@ViewBag.Title</li>
			</ul>
		</div>
	</div>

	<!-- main -->
	<div class="content">
		<div class="main-header">
			<h2>@ViewBag.Title</h2>
			<em>本页面查看选中作品的详细信息</em>
		</div>

		<div class="main-content">
			<!-- Details -->
			<div class="details">
				<!-- details header -->
				<div class="details-header">
					<div class="row">
						<div class="col-lg-4 col-print-4">
							<h3><strong>@Model.Title</strong></h3>
						</div>

					</div>
				</div>
				<!-- end details header -->
				<!-- details summary -->
				<div class="details-summary">
					<div class="row">
						<!-- left side, main content -->
						<div class="col-lg-7">
							<div class="row">

								<div class="pdf" id="pdf">
									<iframe></iframe>
								</div>

							</div> <!-- row -->
						</div>
						<!-- end left side, main content -->

						<div class="panel evalArea col-lg-5" style="height:800px;">
							<div class="panel">
								<div class="panel-body">
									@if ((bool)ViewBag.isSlef && Model.IsFirstTrailDone)
									{
										<a class="btn btn-block btn-danger btn-eval" data-url="@Url.Action("DeleteFirstTrial", "Eval")" href="#">初审不通过</a>
									}
									else if ((bool)ViewBag.isSlef && !Model.IsFirstTrailDone)
									{
										<a class="btn btn-block btn-info btn-eval" data-url="@Url.Action("ExecuteFirstTrial", "Eval")"  href="#">初审通过</a>
									}
								</div>
							</div>
						</div>

						<!-- right side, main content -->

						@Html.Partial("_details")

						<!-- end right side, main content -->

					</div>
				</div>
				<!-- end details summary -->

			</div>
			<!-- Details -->

		</div>
		<!-- /main-content -->
	</div>
	<!-- /main -->
</div>


@section Css{
	<style>
		.info .widget {
			height: 400px;
			overflow-y: auto;
		}

		.evalArea {
			height: 500px;
			overflow-y: auto;
		}
	</style>
}
@section Plugins{
	<script src="~/assets/js/pdf.js"></script>
}
@section Scripts {
	<script src="~/assets/plugins/ckplayer/ckplayer/ckplayer.js"></script>
	<script src="~/assets/plugins/jwplayer/jwplayer.js"></script>
	<script type="text/javascript">

		$(function () {

			var pdfPath = '@Model.AttachmentPath' + '.pdf';
			PDFObject.embed(pdfPath, "#pdf");

			//$("#comment").keyup(function () {
			//	$(".img_ta_num").html("评语还可以填写"+(150 - $(this).val().length)+"个字")
			//})


			$('.btn-eval').on('click', function () {
				var o = {
					ResultId: '@resultId',
					GroupId: '@groupId',
					ResourceId: '@Model.CrosourceId',
					Comment: $('#comment').val(),
					Items: []
				};

				var url = $(this).data('url');
				$.post(url, { model: o }, function (data, status) {
					if (data.error == "none") {
						location.href = "/Eval/Search";
						alertify.success(data.msg);
					}
					else {
						alertify.error(data.msg);
					}
				});
			});

		});
	</script>
}