@model ForgetPassword
@{
	Layout = "~/Views/Shared/_Row.cshtml";
	ViewBag.Title = "登录";
}

<div class="page-login text-center">
	<div class="login-box center-block">
		<div class="alert-danger">
			@Html.ValidationMessage("error", new { @class = "text-danger" })
		</div>
		@using (Html.BeginForm("ForgetPassword", "Account", FormMethod.Post, new { role = "form", @class = "form-horizontal" }))
		{ 
			@*@Html.AntiForgeryToken()
			@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@

			<p class="title">忘记密码</p>
			<div class="form-group">
				<label for="username" class="control-label sr-only"></label>
				<div class="col-sm-12">
					<div class="input-group">
						@Html.TextBoxFor(x => x.Email,new {@placeholder = "输入您注册账号时所填写的邮箱地址", @class = "form-control" })
						<span class="input-group-addon"><i class="fa fa-mail-reply"></i></span>
					</div>
						@Html.ValidationMessageFor(m => m.Email, null, new { @class = "text-danger" })
				</div>
			</div>
			<div class="form-group">
				<label for="username" class="control-label sr-only"></label>
				<div class="col-sm-12">
					<div class="input-group">
						@Html.TextBoxFor(x => x.Question, new { @placeholder = "输入密保问题", @class = "form-control" })
						
						<span class="input-group-addon"><i class="fa fa-question"></i></span>
					</div>
					@Html.ValidationMessageFor(m => m.Question, null, new { @class = "text-danger" })
				</div>
			</div>
			<div class="form-group">
				<label for="username" class="control-label sr-only"></label>
				<div class="col-sm-12">
					<div class="input-group">
						@Html.TextBoxFor(x => x.Answer, new { @placeholder = "输入密保答案", @class = "form-control" })
						<span class="input-group-addon"><i class="fa fa-key"></i></span>
					</div>
						@Html.ValidationMessageFor(m => m.Answer, null, new { @class = "text-danger" })
				</div>
			</div>
			<button class="btn btn-block btn-login" type="submit">验证并重置密码 <i class="fa fa-sign-in fa-lg"></i></button>
		}
			<div class="links">
				<p>
					<a href="@Url.Action("Login", "Account")">用户登录</a>
					<a href="@Url.Action("Register", "Account")">用户注册</a>
				</p>
			</div>
	</div>
</div>

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}