@model Register
@{
	Layout = "~/Views/Shared/_Row.cshtml";
	ViewBag.Title = "注册";
}

<div class="page-login text-center">
	<div class="error text-danger text-left"></div>
	<div class="login-box center-block">
		@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @id="form", role = "form", @class = "form-horizontal" }))
		{
			@Html.AntiForgeryToken()
			@Html.ValidationSummary(true, "", new { @class = "text-danger" })

			<p class="title">用户注册</p>
			<div class="form-group">
				<label for="Username" class="control-label col-sm-2"><i class="text-danger">* &nbsp;</i>用户</label>
				<div class="col-sm-9">
					@Html.TextBoxFor(m => m.Username, new { @class = "form-control", placeholder = "用户名" })
					@Html.ValidationMessageFor(m => m.Username, null, new { @class = "text-danger" })
				</div>
			</div>
			<div class="form-group">
				<label for="Password" class="control-label col-sm-2 text-left"><i class="text-danger">* &nbsp;</i>密码</label>
				<div class="col-sm-9">
					@Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "密码" })
					@Html.ValidationMessageFor(m => m.Password, null, new { @class = "text-danger" })
				</div>
			</div>
			<div class="form-group" id="province">
				<label for="ProvinceId" class="control-label col-sm-2 text-left"><i class="text-danger">* &nbsp;</i>省份</label>
				<div class="col-sm-9">
					@Html.DropDownListFor(m => m.ProvinceId, (ViewBag.Provinces as List<ResCompany>?? new List<ResCompany>()).Select(x => new SelectListItem { Text = x.CompanyName, Value = x.CompanyId.ToString() }), "选择省份", new { @class = "form-control" })
					@Html.ValidationMessageFor(m => m.ProvinceId, null, new { @class = "text-danger" })
				</div>
			</div>
			<div class="form-group" id="area">
				<label for="AreaId" class="control-label col-sm-2 text-left"><i class="text-danger">* &nbsp;</i>地区</label>
				<div class="col-sm-9">
					@Html.DropDownListFor(m => m.AreaId, (ViewBag.Areas as List<ResCompany> ?? new List<ResCompany>()).Select(x => new SelectListItem { Text = x.CompanyName, Value = x.CompanyId.ToString() }), "选择地区", new { @class = "form-control" })
				   @Html.ValidationMessageFor(m => m.AreaId, null, new { @class = "text-danger" })
				</div>
			</div>
			<div class="form-group">
				<label for="IdNo" class="control-label col-sm-2"><i class="text-danger">* &nbsp;</i>证件号</label>
				<div class="col-sm-9">
					@Html.TextBoxFor(m => m.IdCard, new { @class = "form-control", placeholder = "身份证件号" })
					@Html.ValidationMessageFor(m => m.IdCard, null, new { @class = "text-danger" })
				</div>
			</div>
			
			<div class="form-group">
				<label for="Phone" class="control-label col-sm-2"><i class="text-danger">* &nbsp;</i>手机</label>
				<div class="col-sm-9">
					@Html.TextBoxFor(m => m.Phone, new { @class = "form-control", placeholder = "手机号码" })
					@Html.ValidationMessageFor(m => m.Phone, null, new { @class = "text-danger" })
				</div>
			</div>
			<div class="form-group">
				<label for="RealName" class="control-label col-sm-2"><i class="text-danger">* &nbsp;</i>姓名</label>
				<div class="col-sm-9">
					@Html.TextBoxFor(m => m.RealName, new { @class = "form-control", placeholder = "真实姓名" })
					@Html.ValidationMessageFor(m => m.RealName, null, new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				<label for="Company" class="control-label col-sm-2"><i class="text-danger">* &nbsp;</i>单位</label>
				<div class="col-sm-9">
					@Html.TextBoxFor(m => m.Company, new { @class = "form-control", placeholder = "单位全称" })
					@Html.ValidationMessageFor(m => m.Company, null, new { @class = "text-danger" })
				</div>
			</div>
			@*<div class="alert alert-info">以下信息为找回密码使用，请谨慎填写</div>*@
			<div class="form-group">
				<label for="Email" class="control-label col-sm-2"><i class="text-danger">* &nbsp;</i>邮箱</label>
				<div class="col-sm-9">
					@Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "电子邮箱" })
					@Html.ValidationMessageFor(m => m.Email, null, new { @class = "text-danger" })
				</div>
			</div>
			@*<div class="form-group">
				<label for="Email" class="control-label sr-only">密保问题</label>
				<div class="col-sm-12">
					@Html.TextBoxFor(m => m.Question, new { @class = "form-control", placeholder = "密保问题" })
					@Html.ValidationMessageFor(m => m.Question, null, new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				<label for="Email" class="control-label sr-only">密保答案</label>
				<div class="col-sm-12">
					@Html.TextBoxFor(m => m.Answer, new { @class = "form-control", placeholder = "密保答案" })
					@Html.ValidationMessageFor(m => m.Answer, null, new { @class = "text-danger" })
				</div>
			</div>*@

			<button class="btn btn-block btn-login" type="submit">提交<i class="fa fa-sign-in fa-lg"></i></button>
		}
		<div class="links">
			<p>
				<a href="@Url.Action("Login", "Account")">登录</a>
			</p>
		</div>
		@*<div class="alert-danger">
			 <i class="fa fa-bell"></i> 注意事项：
			  用户名需包含英文和数字，且不能使用中文 
		</div>*@
	</div>
</div>

@section plugins{
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/js/select2.min.js"></script>
<style></style>
}

@section Scripts {

	<script>

		function isEmpty(val){
			return val==undefined || val == '' || val==0;
		}

		$(function () {

			$.validator.unobtrusive.parse("#form");
			$("#form").submit(function () {
				var $form = $(this);
				if (!$form.valid())
					return false;

				$.post($form.attr("action"), $form.serialize(), function (data, status) {
					if (status == "success") {
						if (data.error && data.msg) {
							$('.error').text(data.msg);
							return false;
						}

						if(data.returnurl!=''){
							location.href=data.returnUrl;
						}
					}
				});

				return false;
			});


			$('#CompanyId,#ProvinceId,#AreaId').select2({ 
				language:{
					noResults:function(param){
						return "暂无数据";
				}} 
			});

			var areas=@Html.Raw(Json.Encode(ViewBag.AreasDic));
			RelationSelect($("#ProvinceId"), $("#AreaId"), areas, "选择地区");
		});
	</script>
}